<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Stoplight - Monitor Your Builds</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15" />
    <link rel="stylesheet" href="stylesheets/application.css">
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold" rel="stylesheet" type="text/css">
    <style type="text/css">
      .wrapper {
        width: <%= 100.0 / @columns %>%;
        height: <%= 100.0 / @rows %>%;
      }
    </style>
  </head>

  <body>
    <div id="projects-board">
      <% @projects.each do |project| %>
          <div class="wrapper">
            <article class="project <%= project.last_build_status %> <%= project.current_status %>">
              <h1>
                <a href="<%= project.build_url%>" target="_TOP"><%= project.name %></a>
              </h1>
              <% unless project.culprits.empty? %>
              <% if project.last_build_status.eql?("passed") %>
                <h2>Heroes</h2>
              <% else %>
                <h2>Culprits</h2>
              <% end %>
                <ul class="culprits">
                  <% project.culprits.each do |culprit| %>
                    <li>
                        <figure>
                        <% unless culprit['gravatar'].nil? %>
                          <img src="<%= "#{culprit['gravatar']}?s=50&r=pg&d=identicon" %>">
                        <% end %>
                        <figcaption><%= culprit['name'] %></figcaption>
                        </figure>
                    </li>
                  <% end %>
                </ul>
              <% end %>
              <p class="status">
                Build <%= project.last_build_id %> <strong><%= project.last_build_status %></strong>
                <% unless project.last_build_time.nil? %>
                  <time class="build-time invisible" datetime="<%= project.last_build_time.iso8601 %>" title="<%= project.last_build_time %>">
                    <%= project.last_build_time.to_time.ago_in_words %>
                  </time>
                <% end %>
              </p>
            </article>
          </div>
      <% end %>
    </div>

    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="javascripts/application.js"></script>
  </body>
</html>
